@import 'styles/_colors.scss';

.page {
	display: flex;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	max-width: 100vw;
	// overflow: hidden;
	// overflow-x: hidden;
}

// .dark{
// 	background-color: $jet-black;
// 	color:$white;
// }
