@import "styles/shared.scss";

.JoinAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2em 0;
  position: relative;
  overflow: hidden;

  @include breakpoint(tiny) {
    padding-bottom: 0;
  }

  [data-component="Headline"] {
    z-index: 2;
  }

  &Background {
    position: absolute !important;
    top: 0;
    left: 0;

    @include breakpoint(small) {
      @include aspect-ratio-fix(375px, 400px);
    }

    @include aspect-ratio-fix(1600px, 801px);
  }

  &.hasImg {
    padding: 8em 0;
    padding-bottom: 10em;
    color: #fff;
    background-color: black;

    [data-component="Headline"] {
      z-index: 2;
    }

    img {
      opacity: 0.85;
    }
  }

  svg {
    margin-bottom: 4em;
    height: 20em;
    width: 12em;
    position: relative;
    z-index: 2;
    margin-top: 1.5%;
    margin-left: 7%;

    path {
      display: none;
      fill: $primary;
    }
  }

  a {
    align-self: center;
    position: relative;
    z-index: 2;
  }
}
